<template>
  <v-simple-table class="packages-table">
    <template v-slot:default>
      <thead>
        <tr :class="{'packages-table__disabled-row': disabled}">
          <th class="text-left">
            Название
          </th>
          <th class="text-left">
            Версия
          </th>
          <th class="text-left">
            Дата
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in items"
          :key="item.name"
          :class="{'packages-table__disabled-row': disabled}"
          @click="() => onClickItem(item.name, item.version)"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.version }}</td>
          <td>{{ formatDate(item.date) }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
export default {
    props: {
        items: Array,
        disabled: {
            type: Boolean,
            default: () => false,
        },
    },
    methods: {
        formatDate(rawDate) {
            const date = new Date(rawDate);
            const formattedDate = new Intl.DateTimeFormat(
                'ru',
                {
                    year: 'numeric',
                    month: 'short',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                },
            ).format(date);
            return formattedDate;
        },
        onClickItem(name, version) {
            if (!this.disabled) {
                this.$emit('on-click-item', name, version);
            }
        },
    },
};
</script>

<style lang="scss">
.packages-table {
    &__disabled-row {
        background-color: #f5f5f5;
        color: #cacaca;
    }
}
</style>
