<template>
  <v-treeview
    activatable
    :items="files"
  ></v-treeview>
</template>

<script>
export default {
    props: {
        files: {
            type: Array,
            required: true,
        },
    },
};
</script>
