<template>
  <div class="index-page">
    <search
        class="index-page__search"
        :disabled="preloader"
        @onSearch="onSearch"
    />
    <div class="index-page__table-wrapper">
        <v-progress-circular
            class="index-page__preloader"
            v-show="preloader"
            indeterminate
            color="primary"
        />
        <div v-if="!preloader && !packagesList">Вы еще ничего не искали</div>
        <div v-if="!preloader && packagesList && packagesList.length === 0">Ничего не найдено</div>
        <packages-table
            v-if="packagesList && packagesList.length"
            :items="packagesList"
            :disabled="tableDisabled"
            @on-click-item="onClickItem"
        />
    </div>
    <v-pagination
        class="index-page__pagination"
        v-if="totalPages"
        :value="page"
        :length="totalPages"
        :total-visible="7"
        :disabled="preloader"
        prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
        @input="onPaginationInput"
    />
    <package-details-modal
        v-if="packageDetails"
        :name="packageDetails.name"
        :filesPreloader="packageFilesPreloader"
        :files="packageFiles"
        @close="closePackageDetails"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import PackagesTable from '../components/PackagesTable/PackagesTable.vue';
import Search from '../components/Search/Search.vue';
import PackageDetailsModal from '../components/PackageDetailsModal/PackageDetailsModal.vue';

export default {
    components: {
        PackagesTable,
        Search,
        PackageDetailsModal,
    },
    methods: {
        ...mapActions([
            'loadPackages',
            'openPackageDetails',
            'closePackageDetails',
        ]),
        onSearch(text) {
            this.loadPackages({ text, page: 1 });
        },
        onPaginationInput(number) {
            this.loadPackages({ text: this.searchText, page: number });
        },
        onClickItem(name, version) {
            this.openPackageDetails({ name, version });
        },
    },
    computed: {
        ...mapGetters([
            'packagesList',
            'page',
            'totalPages',
            'preloader',
            'searchText',
            'packageDetails',
            'packageFiles',
            'packageFilesPreloader',
        ]),
        tableDisabled() {
            return this.preloader;
        },
    },
    data() {
        return {
        };
    },
};
</script>

<style lang="scss">
.index-page {
    display: block;

    &__search {
        margin-bottom: 20px;
    }

    &__table-wrapper {
        position: relative;
    }

    &__preloader {
        left: 50%;
        position: absolute !important; // я был вынужден
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
</style>
