<template>
  <v-overlay>
    <v-card
        :light="true"
        elevation="2"
        min-height="200px"
        min-width="200px"
        height="90vh"
        width="90vw"
    >
        <div class="package-modal">
        <div class="package-modal__head">
            <v-card-title>{{name}}</v-card-title>
            <v-btn @click="onClose">X</v-btn>
        </div>

        <div class="package-modal__body" v-scroll>
            <v-progress-circular
                v-show="filesPreloader"
                indeterminate
                color="primary"
            />
            <v-treeview v-if="!filesPreloader" :items="files"/>
        </div>
        </div>

    </v-card>
  </v-overlay>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: false,
        },
        filesPreloader: {
            type: Boolean,
        },
        files: {
            type: Array,
        },
    },
    mounted() {
        document.getElementsByTagName('html')[0].classList.add('fix-scroll');
    },
    destroyed() {
        document.getElementsByTagName('html')[0].classList.remove('fix-scroll');
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
    },
};
</script>

<style lang="scss">
.package-modal {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__head {
        align-items: center;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__body {
        flex-grow: 1;
        flex-shrink: 1;
        height: 50px;
        overflow: auto;
    }
}
</style>
