<template>
    <div class="footer">
        <div class="footer__avatar"/>
        <div class="footer__info">
            <div>Автор: Феоктистов Артем Андреевич</div>
            <div>Профиль в хабре: <a target="_blank" href="https://career.habr.com/ognellis"> https://career.habr.com/ognellis</a></div>
        </div>
    </div>
</template>

<script>
import avatar from './avatar.jpeg';

export default {
    data() {
        return {
            avatar,
        };
    },
};
</script>

<style lang="scss">
.footer {
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 100%;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    &__avatar {
        background-image: url('./avatar.jpeg');
        background-size: contain;
        border-radius: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        height: 200px;
        margin-right: 20px;
        max-width: 100%;
        width: 200px;

        @media only screen and (max-width: 768px) {
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

    &__info {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
    }
}
</style>
