<template>
  <v-form class="search" @submit="onSubmit">
    <v-text-field
        class="search__input"
        :disabled="disabled"
        v-model="searchText"
    />
    <v-btn
        class="search__button"
        :disabled="disabled"
        type="submit"
    >Найти</v-btn>
  </v-form>
</template>

<script>
export default {
    props: {
        disabled: {
            type: Boolean,
            default: () => false,
        },
    },
    data() {
        return {
            searchText: '',
        };
    },
    methods: {
        onSubmit(event) {
            event.preventDefault();
            this.$emit('onSearch', this.searchText);
        },
    },
};
</script>

<style lang="scss">
.search {
    align-items: center;
    display: flex;

    @media only screen and (max-width: 768px) {
        display: block;
    }

    &__input {
        margin-right: 20px;
        @media only screen and (max-width: 768px) {
            margin-bottom: 10px;
            margin-right: 0;
        }
    }

    &__button {
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
}
</style>
