<template>
  <v-app>
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer>
      <footer-component/>
    </v-footer>
  </v-app>
</template>

<script>
import Footer from './components/Footer/Footer.vue';

export default {
    components: {
        'footer-component': Footer,
    },
};
</script>

<style lang="scss">
</style>
